<header>
    <nav class="nav">
        <img src="assets/logo.svg" alt="logo" class="nav_logo">
        <button id="nav_menu">
            <img src="assets/logo1.svg" alt="nav menu icon">
        </button>

        <ul class="hidden nav_list">
            <li class="nav_list_item">
                <a href="#" class="list_item_link">Doc</a>
            </li>
            <li class="nav_list_item">
                <a href="#" class="list_item_link">Api</a>
            </li>
        </ul>
    </nav>

    <div class="hero">
        <p>welcome to</p>
        <h1>eze future real estate api</h1>
    </div>
</header>
